
body{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 5px;
	/*background-color: #f1f1f1;*/
}

form{
	display: inline-block;
}

header img{
	width: 300px;
	height: 300px;
}

h1{
	font-size: 2rem;
}

#main-title{
	font-family: serif;
}

.search{
	margin-top: 50px;
}

.search input{
	width: 250px;
	height: 50px;
	font-weight: 600;
	font-style: oblique;
	border: 2px solid #BFC9CA;
	border-radius: 20px;
	text-indent: 9px;
	transition: width 0.5s ease-in-out;
}

.search input:focus{
	width: 450px;
	outline: none;
	box-shadow: 0 0 5px rgba(109,207,246,.5);
	border: 1px solid #669ECC/*#66CC75*/;
}
.search .fa-search{
	margin-left: -100px;
	font-size: 19px;
	width: 20px;
	border: none;
	color: #000;
	cursor: pointer;
	-webkit-transition: font-size 0.3s ease-in-out;
    -moz-transition: font-size 0.3s ease-in-out;
    transition: font-size 0.3s ease-in-out; 	
}
.search .fa-random{
	margin-left: -60px;
	font-size: 19px;
	width: 20px;
	cursor: pointer;
	-webkit-transition: font-size 0.3s ease-in-out;
    -moz-transition: font-size 0.3s ease-in-out;
    transition: font-size 0.3s ease-in-out;    
}
.search .fa-search:hover, .search .fa-random:hover{	
	font-size: 21px;
}

.search a{	
	display: inline-block;
	color: #000;
}
#submit-button{
	background: none;
	padding: 0px;
	border: none;
}
#emptySearch{
	margin-top: 50px;
	color: red;
	font-style: oblique;
	margin-left: 20px;
	margin-right: 20px;
}
#mainDiv{
	margin-top: 50px;
}

#article{
	background-color: #ffffff;
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding: 28px 35px;
	text-align: left;
}

#article a{
	color: #000;
}
#article a:hover{
	border-bottom: 2px solid #000;
}

#article #title{
	display: inline-block;
	font-size: 24px;
	font-weight: bold;
}
#article #description{
	font-style: oblique;
}

#article img{
	margin-top: 15px;
	margin-right: 10px;
	float: left;
}
#article-extract{
	margin-top: 25px;
	font-family: Georgia, serif;
	font-size: 18px;	
}

.maxArticles{
	font-style: oblique;
	color: red;
}

#buttonDiv{
	margin-top: 50px;
}
#buttonMaxArticles{
	width: 60%;
	background-color: #235F9C;
	font-weight: bold;
	border: 2px solid #235F9C;
}
#buttonMaxArticles:hover{
	/*background-color: #1B4F72;*/
	background-color: #FFF;
	color: #235F9C;
}

footer{
	margin-top: 100px;
	margin-bottom: 0px;
	font-style: oblique;
}
footer h6{
	font-size: 1.1em;
}


/*--------- Media Queries ---------*/

@media (max-width: 555px){
	header img{
		width: 200px;
		height: 200px;
	}

	h1{
		font-size: 1.7rem;
	}

	.search input{
		width: 160px;
	}

	.search input:focus{
		width: 260px;
	}

	#article{
		max-width: 80%;
	}

	#buttonMaxArticles{
		width: 80%;
	}

	#emptySearch h4,
	.maxArticles h4{
		font-size: 1.3em;
	}	
}